(function executeRule(current, previous) {
    try {
        gs.info('The current table name is:' + current.table_name);
        if (current.table_name != '{{ table_name }}') {
            return;
        }
        
        var event_type = 'IncidentUpdated';
        var incident_sys_id = current.table_sys_id.getDisplayValue().toString();
        gs.info('The incident sys_id: ' + incident_sys_id);
        
        var incident = new GlideRecord('{{ table_name }}');
        if (incident.get(incident_sys_id)) {
            var payload = {
                "event_type": event_type,
                "incident_number": incident.number.toString(),
                "short_description": incident.short_description.toString(),
            };
            
            var gr = new GlideRecord('discovery_credentials');
            if (gr.get('name', '{{ apigw_api_key_property_name }}')) {
                var api_key = gr.getValue('password');

                var outbound_rest_message_name_str = "{{ outbound_rest_message_name }}";
                var outbound_rest_message_request_function_name_str = "{{ outbound_rest_message_request_function_name }}";
                var request = new sn_ws.RESTMessageV2(outbound_rest_message_name_str, outbound_rest_message_request_function_name_str);
                request.setRequestHeader('Authorization', api_key);
                request.setRequestBody(JSON.stringify(payload));
                
                var response = request.execute();
                gs.info('Incident attachment event published to AWS Security Incident Response API Gateway: ' + event_type);
                var responseBody = response.getBody();
                var httpStatus = response.getStatusCode();
                gs.info("Attachment Event Response: " + responseBody);
                gs.info("Attachment Event HTTP Status: " + httpStatus);
            }
            else {
                gs.info("Could not find API Key: {{ apigw_api_key_property_name }}");
            }
        } else {
            gs.warn('Could not find incident with sys_id: ' + incident_sys_id);
        }
        
    } catch (error) {
        gs.error('Error sending incident attachment event: ' + error.message);
    }
})(current, previous);
